content {
    font-size: 15px;
    padding-left: 0;
    background-color: #f7fafc;
    width: 100%;
    min-height: 100vh;
    transition: padding-left 0.3s ease-in-out;
    position: relative;
    z-index: 1;
    transition: margin-left 0.3s ease-in-out;
}
.sidebar-active .content{
    margin-left:190px;
}
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 999;
    display:none;
}
.header-user{
    position:relative;
    width: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.header-user img{
    width: 40px;
    height: 40px;
    border: 2px solid black;
    border-radius: 50%;
}
.header-user div {
    margin-left: 10px;
}
.search-bar {
    width: 100%;
    max-width: 600px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
}
.search-bar input {
    border-radius: 1rem;
    box-shadow: 0 2px 4px rgba(0 0 0 0.5);
    padding: 0.5rem 1rem;
    width: 100%;
    font-size: 14px;
}
.card {
    background: #ffffff;
    box-shadow: 0 4px 6px rgba(0 0 0 0.1);
    border-radius: 0.375rem;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}
.card h3 {
    font-size: 0.7rem;
    color: #2d3748;
    margin-top: 0.5rem;
}
.card p {
    font-size:0.7rem;
    color:#2d3748
}
.card .icon {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}
.header {
    border-top-left-radius: 20px;
    padding:1rem;
}
.table {
    width: 100%;
    border-collapse: collapse;
}
    /* th. td {
        padding: 0.75rem;
        text-align: left;
        
    }  */
  th {
    background-color: #f7fafc;
  }
  tr:nth-child(even) {
    background-color: #f1f5f9;

  } 
  thead th {
    background-color: #2b6cb0;
    color: #FFFFFF;
  }      
  @media (min-width:768px){
    .content{
        padding-left:190px;
    }
    .theader-user {
        width:auto;
    }
  }
  @media (max-width:767px){
    .search-bar{
        flex-direction:column;
    }
    .search-bar input {
        margin-bottom:1rem;
    }
    .card {
        margin-bottom: 1rem;
    }
  }
  @media (max-width:768px){
    .header{
        flex-direction:column;
        align-items: stretch;
    }
    .theader {
        border-bottom-left-radius:20px;
        height: 10%;
    }
    .search-bar{
        width:100%;
        margin-bottom: 1rem;
    }
    .theader-user {
        width:100%;
        justify-content: center;
    }
    .header-user img {
        width: 40px;
        height: 40px;
    }
    .header-user div {
        font-size: O.8rem;
        height: 40px;
    }
  }
  @media (max-width:640){
    .header-user {
        width: 100%;
        justify-content: center;
    }
    
  }
  @media (min-width:641) and (max-width:1024px){
    .search-bar input {
        font-size:14px;
    }
    
  }
  @media (max-width:640){
    .header {
        padding: 1rem;
        justify-content: center;
    }
    .search-bar{
        order:2;
    }
    .header-user {
        order:1;
        margin-bottom: 1rem;
    }
}
.main-content {
    display: flex;
    flex-direction: column;
}
.product-lists {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8em;
}
.product-list{
    width: 100%;
    /* display: flex;
    flex-direction: column;
    gap: 1rem;
    font-size: 0.8em; */
}
   @media(min-width:768px){
    .product-lists {
        flex-direction: row;
    }
    .product-list-1 {
        width: 40%;
    }
    .product-list-2 {
        width: 60%;
    }
   }    
   @media(max-width:767px){
    .product-list {
        margin-bottom: 1rem;
    }
   }  
   .table-responsive {
    overflow-x: auto;
   } 
   @media(max-width:640px){
    .table-responsive {
        font-size: 0.8rem;
    }
   }     
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        
        

    
